:root{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    --primary-color: #d8027f;
    --secondary-color: #fe736a;
}

.body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    justify-content: space-between;
    height: 100vh;
}


.header{
    text-align: center;
    background-color: #fff;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo-area{
    margin: 0 15px;
}

.navbar__logo{
    height: 5em;
}

.navbar__options{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.secondary-option{
    border: none;
    color: #333;
    background: none;
    cursor:pointer;
    font-weight: 300;
}

.primary-button{
    background-color: #d8027f;
}

.button{
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius:10px;
    cursor:pointer;
    font-weight: 600;
}

.button:hover{
    background-color: #fe736a;
}

.secondary-option:hover{
    color: #fe736a;
    
}

.header__title{
    margin-bottom: 0;
    font-weight: 600;
    color: #333;
}
.header__sub-title{
    margin-top: 0;
    font-weight: 300;
    margin-bottom: 0;
}



.sub-title{
    color: #555;
    font-weight: 400;
    padding-top: 20px;
    text-align: center;
}

.register-area-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    transform: scale(0);
    background-color: rgba(0, 0, 0, .4);
}

.register-area-modal__content{
    width: 90%;
    max-width: 500px;
    
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 2px 2px 5px #555;
}

.register-area-modal--show{
    transform: scale(1);
}

.register-area__title{
    text-align: center;
}

.sub-title{
    margin-top: 0;
    font-weight: 600;
}

.register-area__form{
    padding: 20px;
}

.register-area__form label{
    display: block;
}

.register-area__form label::before{
    content:  '* ';
    color: red;
}

.register-area__form input:nth-child(0){
    border-color: red;
    background-color: royalblue;
}

.register-area__form input, .register-area__form textarea{
    width: 100%;
    border-radius: 5px;
    border-style: solid;
    padding: 10px 0;
}

.register-area__form textarea{    
    resize: none;
    height: 60px;
}



.register-area__form-group{
    padding-bottom: 20px;
}

label.label-color::before{
    content: '';
}

.color-input{
    display: none;
}

label.label-color{
    width: 30px;
    height: 30px;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 3px;
    display: inline-block;
    margin: 10px;
}
.color-one{
    background-image: linear-gradient(to right, #d8027f, #fe736a);
}

.color-two{
    background-image: linear-gradient(to right, #7cf3dd, #0b9cfe);
}

.color-three{
    background-image: linear-gradient(to right, #c39ff2, #7e73db);
}

input:checked + .label-color {
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.tasks{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    padding: 2rem;
    grid-gap: 20px;
    grid-auto-flow: dense;
    list-style: none;
}

.task{
    padding: 20px;
    width: 90%;
    border-radius: 15px;
    color: #fff;
    box-shadow: 2px 2px 5px #ccc;
    cursor: pointer;
}

.task:hover{
    position: relative;
    bottom: 10px;
}

.task__header{
    display: grid;
    grid-template-columns: 1fr auto;
}

.task__title{
    margin-bottom: 0;
}

.task__delete{
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    text-align: end;
    cursor: pointer;
}

.task__date{
    background-color: #fff;
    color: #333;
    font-size: .7em;
    padding: 5px 10px;
    font-weight: 600;
    border-radius: 50px;
    display: inline;
}

.footer{
    background-color: #fff;
    padding: 15px;
    text-align: center;
}

.footer__name{
    color: #d8027f;
}